<div class="animated fadeIn ">

    <h2 class="text-center font-weight-bold" *ngIf="!Guar">Agregar Nueva Pregunta</h2>
    <h2 class="text-center font-weight-bold" *ngIf="Guar">Edición de Pregunta</h2>
    <hr>
    <br>
    <div class=" col-lg-6- col-md-6 col-sm-6 col-xs-6 text-left">
        <button 
       [routerLink]="['/Mantenimiento']"
        type="button" class="btn btn-outline-danger">
        <i class="fas fa-backward"> </i>
        Volver
        </button> 
        <br><br>
      </div>
    
    <form (ngSubmit)="Guardar()" [formGroup]="forma" novalidate>

       <div class="form-group" >
       <label for="Pregunta" class="text-center font-weight-bold">Pregunta</label>
       <input class="form-control" type="text" required  [(ngModel)]="Pregun.Pregunta"
        placeholder="¿Qué Significa la Metodologia de kanban?"  formControlName="Pregunta">

      <div class="form-control-feedback danger" *ngIf="forma.controls['Pregunta'].errors?.required">
               <small class="font-weight-bold">La Pregunta es Requerida</small>
      </div>
      <div class="form-control-feedback danger" *ngIf="forma.controls['Pregunta'].errors?.minlength">
               <small class="font-weight-bold">Por lo menos 10 caracteres</small>
      </div>

       </div>

       <div class="form-group" >



        <label for="" class="text-center font-weight-bold">Primera Opción (1)</label>
        <input class="form-control" placeholder="Opciones A" type="text" required 
        [(ngModel)]="Pregun.OpcionA"
         formControlName="OpcionA">

         <div class="form-control-feedback danger" *ngIf="forma.controls['OpcionA'].errors?.required">
                <small class="font-weight-bold">La Opciones son requeridas</small>
       </div>
       <div class="form-control-feedback danger"   *ngIf="forma.controls['OpcionA'].errors?.minlength">
                <small class="font-weight-bold">Por lo menos 3 caracteres</small>
       </div>


        <label for="" class="text-center font-weight-bold">Segunda Opción (2)</label>
        <input class="form-control" placeholder="Opciones B" type="text" required 
        [(ngModel)]="Pregun.OpcionB"
        formControlName="OpcionB">

        <div class="form-control-feedback danger" *ngIf="forma.controls['OpcionB'].errors?.required">
            <small class="font-weight-bold">La Opciones son requeridas</small>
       </div>
        <div class="form-control-feedback danger"      *ngIf="forma.controls['OpcionB'].errors?.minlength">
            <small class="font-weight-bold">Por lo menos 3 caracteres</small>
      </div>

        <label for="" class="text-center font-weight-bold">Tercera Opción (3)</label>
        <input class="form-control" placeholder="Opciones C" type="text" required 
        [(ngModel)]="Pregun.OpcionC"
         formControlName="OpcionC">

         <div class="form-control-feedback danger" *ngIf="forma.controls['OpcionC'].errors?.required">
                <small class="font-weight-bold">La Opciones son requeridas</small>
       </div>
       <div class="form-control-feedback danger"   *ngIf="forma.controls['OpcionC'].errors?.minlength">
                <small class="font-weight-bold">Por lo menos 3 caracteres</small>
       </div>
  
        </div>    

  


            <div class="form-group">
                    <label for="" class="text-center font-weight-bold">Respuesta Correcta</label>
                    <select class="form-control" required  [(ngModel)]="Pregun.Correcta"
                    formControlName="Correcta" >
                        <option value="1">---Respuesta---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                
                    </select>
                    <div class="form-control-feedback danger" *ngIf="forma.controls['Correcta'].errors?.required">
                          <small class="font-weight-bold">Es Importante colocar la respuesta correcta.</small>
                  </div>
            </div>



        <div class="form-group">
                <label for="" class="text-center font-weight-bold">Nivel De La Pregunta</label>
                <select class="form-control" required  [(ngModel)]="Pregun.Dificultad"
                formControlName="Dificultad" >
                    <option value="1" >---Dificultad De Pregunta---</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <div class="form-control-feedback danger" *ngIf="forma.controls['Dificultad'].errors?.required">
                      <small class="font-weight-bold">El nivel de dificultad es necesaria.</small>
              </div>
        </div>
        <div class="form-control-feedback danger" *ngIf="vacio">
            <small class="font-weight-bold">tiene Campos vacios.</small>
    </div>
        <br>
        <div class="text-center form-group">
          <button type="submit" [disabled]="!forma.valid" class="btn btn-outline-primary">
                <div  *ngIf="!Guar">
                <i class="fas fa-save" *ngIf="!Guar1"> </i> <span *ngIf="!Guar1">Guardar Pregunta</span>
                <i class="fas fa-spinner fa-spin " *ngIf="Guar1"> </i> <span *ngIf="Guar1">Registrando Preguntas..</span>
                </div>

                <div  *ngIf="Guar">
                        <i class="fas fa-sync" *ngIf="!Guar1"></i> <span *ngIf="!Guar1">Actualizar Pregunta</span>
                        <i class="fas fa-sync fa-spin" *ngIf="Guar1"></i> <span *ngIf="Guar1">Actualizando..</span>
                        </div>
             
          </button>

        </div>
    </form>
</div>