 

      <div class="text-center border-right position-sticky">
          <div>
              <img class="img-fluid img-thumbnail img" src="../../../assets/Imagenes/Tipos-de-mantenimiento..jpg" alt="">
          </div>
          <br>
          <h4 class="text-justify font-weight-bold text-center h41">Administración</h4>
          <br>
          <ul class="lista">
              <li class="font-weight-bold text-center">
                  <a [routerLink]="['/Mantenimiento']"> <i class="fas fa-wrench fa-lg espacio"></i>Mantenimiento</a>
              </li>
              <li class="font-weight-bold text-center">
                  <a [routerLink]="['/AgregarAdministrador']"> <i class="fas fa-list fa-lg espacio"></i>Listad Administrador</a>
              </li>
              <li class="font-weight-bold text-center">
                  <a [routerLink]="['/SeguimientoJugador']"> <i class="far fa-file-archive fa-lg espacio"></i>Seguimiento Estudiantil</a>
              </li>
          </ul>

          <button class="btn btn-outline-dark block">
                <i class="fas fa-long-arrow-alt-left"> </i> Salir Aministración</button>
          <footer class="pan">
              <br><br>
          </footer>
      </div>

   
    